.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.example-toolbar{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    // border: 1px solid red;
}

.dash-icons {
    width: 35px;
    height: 25px;
    margin-right: 40px;
    margin-left: 25px;
    // border: 1px solid red;

}
mat-sidenav {
    // width: 20%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // border: 1px solid red;
    background-color: #f5f3f3;
}

mat-nav-list{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-start;
    // border: 1px solid red;
}

.dash-nav {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
    font-size: 18px;
}

.keep-name {
    width: 100px;
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #5f6368;
    position:relative;
    right: 20px;
}

.keep-icon {
    width: 40px;
    height: 40px;
}

.search-icon {
    width: 25px;
    position: relative;
    top: 4px;
    // border: 1px solid red;
}

.search-input {
    position: relative;
    left: 20px;
}

.search-mat {
    width: 1000px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    // border: 1px solid red;
}

::ng-deep .mat-mdc-text-field-wrapper {
    width: 150vw !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    // border: 1px solid red;
    position: relative;
    left: 50px;
    font-size: 20px;
}

.header-icon-1 {
    width: 120px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
    position: relative;
    
}

.header-icons-2 {
    width: 80px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
    position: relative;
    
}

.icon-1 {
    height: 100%;
}

#sidenav{
    width: 320px;
    border: none;
    
}

#sidenav.menu-open {
    width: 320px;
    border: none;
}

#sidenav.menu-close {
    width: 80px;
    border: none;
}
