<div class="main-page" >
  <div class="Head">
    <h1>
      <font color="blue">F</font>
      <font color="red">U</font>
      <font color="yellow">N</font>
      <font color="blue">D</font>
      <font color="green">O</font>
      <font color="red">O</font>
    </h1>
    <h2>Sign In</h2>
    <h2>Use your Fundoo Account</h2>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="textfield">
      <mat-form-field appearance="outline">
        <mat-label>Email or Phone</mat-label>
        <input matInput  placeholder="" type="text" formControlName="email">
        <mat-error>
          Email must be a valid email address
         </mat-error>
      </mat-form-field>

      <div>
        <button mat-button class="btn-sugg" color="primary">Forgot email?</button>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="" type="password" formControlName="password">
        <mat-error>
          Password must be at least 8 characters
         </mat-error>
      </mat-form-field>
      <div>
        <button mat-button color="primary" class="btn-sugg" routerLink="/forgotpassword">Forgot Password?</button>
      </div>
    </div>
    <div class="main-p">
      <span>
        Not your computer? Use Guest mode to sign in privately.
      </span>
      <button mat-button color="primary" class="btn-sugg">Learn more</button>
    </div>
    <div class="Button">
      <button mat-button color="primary" routerLink="/signup">Create Account</button>
      <button mat-raised-button color="primary"> Next</button>
    </div>
  </form>
</div>