* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-page {
    width: 30vw;
    height: 70vh;
    border: 1px solid rgb(194, 188, 188);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    left: 35%;
    top: 100px;
    line-height: 0.5px;
    border-radius: 10px;
  }
  .Head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    line-height: 4px;
    //  border: 1px solid red; 
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
    position: relative;
    left: 0px;
    font-weight: lighter;
    // border: 1px solid red; 
  }
  
  .textfield {
    // border: 1px solid red; 
    width:80%;
    height:44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
   
  }
  
  .main-p {
    width:80%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: start;
    font-size: 14px;
    color: rgb(129, 128, 128);
    // border: 1px solid red;
  }
  .Button {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-start;
    // border: 1px solid yellow;
  }

  mat-form-field{
    // border: 1px solid red;
    width: 360px;
    height:60px;
    font-size: 15px;
  }
  
  .btn-sugg{
  //  border: 1px solid red;
   float: left;
  }
  