.main-page-forgot{
    width: 30vw;
    height: 70vh;
    border: 1px solid rgb(194, 188, 188);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    left: 35%;
    top: 100px;
    border-radius: 10px;
    text-align: center;
}
.child-forgot{
    width:80%;
    height:80%;
    // border: 1px solid red;
}
.Header-forgot{
    // border: 1px solid red;
    width: 100%;
    height:40%;
}
.textfield-forgot{
    // border: 1px solid red;
    width:100%;
}
::ng-deep mat-form-field{
    width:100%;
    // border: 1px solid red;
}

.Button-forgot{
    // border: 1px solid red;
    float: right;
    
}
// ::ng-deep .mat-mdc-text-field-wrapper{
//     height:35px !important;
//     border: 1px solid red;
// }