<div class="main-page-forgot" >
    <div class="child-forgot">
        <div class="Header-forgot">
            <h1>
                <font color="blue">F</font>
                <font color="red">U</font>
                <font color="yellow">N</font>
                <font color="blue">D</font>
                <font color="green">O</font>
                <font color="red">O</font>
            </h1>
            <h2>Find Your Email</h2>
            <h3>Enter your phone number or recovery email</h3>
        </div>
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <div class="textfield-forgot">
            <mat-form-field appearance="outline">
                <mat-label> Phone number or Email</mat-label>
                <input matInput placeholder="" type="text" formControlName="email">
                <mat-error>
                    Email must be a valid email address
                   </mat-error>
            </mat-form-field>

        </div>
        <div class="Button-forgot">
            <button mat-raised-button color="primary"> Next</button>
        </div>
    </form>
    </div>
</div>