.icons{
    width:20vw;
    height: 3vh;
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon-style{
    height: 100%;
    // border: 1px solid green;
}