<div class="Page" style="text-align: center;">
    <div class="Page-child" style="text-align: center;">
        <div class="header-Head" style="text-align: center;">
            <h1>
                <Font color="blue">F</Font>
                <Font color="red">U</Font>
                <Font color="yellow">N</Font>
                <Font color="blue">D</Font>
                <Font color="green">O</Font>
                <Font color="red">O</Font>
            </h1>
            <h3>Create your Google Account</h3>
        </div>

        <div class="page-text" style="text-align: center;">
            <div class="input-name" style="text-align: center;">
                <p style="height:40px;">
                    <mat-form-field appearance="outline" style="font-size: 12px; width:70%; height:40px"  >
                        <mat-label >First Name</mat-label>
                        <input matInput style="height:15px" placeholder="" >
                    </mat-form-field>
                </p>
                <p style="height:40px;">
                    <mat-form-field appearance="outline" style="font-size: 12px ; width:70%; height:40px" >
                        <mat-label>Last Name</mat-label>
                        <input matInput  style="height:15px" placeholder="">
                    </mat-form-field>
                </p>
            </div>
            

            <div class="user-text">
                <p>
                    <mat-form-field appearance="outline" style="font-size: 12px ; width:95%; height:50px; border:0px solid red">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                </p>
                <span class="User-para" style="font-size: 11px;">You can use letters, numbers & periods</span>
                <button mat-button color="primary" class="btn-user">Use my current email address instead</button>
            </div>
            <div class="input-password" style="text-align: center;">
                <p style="height:40px;">
                    <mat-form-field appearance="outline" style="font-size: 12px; width:70%; height:40px"  >
                        <mat-label >Password</mat-label>
                        <input matInput style="height:15px" placeholder="" >
                    </mat-form-field>
                </p>
                <p style="height:40px;">
                    <mat-form-field appearance="outline" style="font-size: 12px ; width:70%; height:40px" >
                        <mat-label>Confirm</mat-label>
                        <input matInput  style="height:15px" placeholder="">
                    </mat-form-field>
                </p>
            </div>
                <span class="pass-text">
                    Use 8 or more characters with a mix of letters,numbers & symbols
                </span> 
        </div>
        <div class="button" style="text-align: center;">
            <button mat-button color="primary">Sign in instead</button>
            <button mat-raised-button color="primary"> Next</button>
        </div>
    </div>
    <div class="Page-Child2">
        <img class="page-img" src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" alt="image" />
        <p>One Account. All of Google working for you.</p>
    </div>
</div>