.note-main{
    // border: 1px solid red;
    width:40vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    // align-content: center;
    position: relative;
    left: 350px;
    top: 50px;
    
}
mat-card{
    width:100%;
    height: 100%; 
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    // border: 1px solid red;
    border-radius: 10px;
    
}
.mat-card-header{
    width:95%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content:space-between;
}
.note-Main-one{
    width:100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content:space-between;
}
.note-header{
    width: 95%;
    height:50px;
    font-size:18px;
    // border: 1px solid red;
}
.note-header-input{
    width: 200%;
    height: 45px;
    // border: 1px solid red;
}
.input-header{
    width: 90%;
    border: none;
    outline: none;
    font-size: 18px;
}
.input-header-2{
    width: 90%;
    height: 25px;
    border: none;
    outline: none;
    font-size: 15px;
}
.img-icon{
        width: 25px;
        height: 25px;
}
.note-para{
    width: 95%;
    height:40px;
    // border: 1px solid red;
}
.card-icons{
    width: 90%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
}