<div class="note-main">
    <mat-card class="note-Main-one">
        <mat-card-header class="mat-card-header">
            <div class="note-header" *ngIf= "show">
                <input matInput class="input-header" placeholder="Title" [(ngModel)]="title">
                <mat-icon><img class="img-icon" src="../../../assets/push_pin_FILL0_wght400_GRAD0_opsz48.svg"
                        alt=""></mat-icon>
            </div>
            <div class="note-para" *ngIf= "!show || show" (click)="isShow()" [(ngModel)]="desc">
                <input  matInput class="input-header-2" placeholder="Take a note....." >
            </div>
        </mat-card-header>
        <div class="card-icons" *ngIf= "show">
            <app-icon></app-icon>
            <mat-card-actions align="end">
                <button mat-button (click)="close()">Close</button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>