.note-main{
    // border: 1px solid red;
    width:40vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    left: 500px;
    top: 100px;
}
mat-card{
    width:100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.mat-card-header{
    width:95%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.note-Main-one{
    width:100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.note-header{
    width: 95%;
    // border: 1px solid red;
    position: relative;
    bottom: 20px;
}
.note-header-input{
    width: 200%;
    height: 45px;
    // border: 1px solid red;
}
.input-header{
    width: 90%;
    border: none;
    outline: none;
    font-size: 18px;
}
.input-header-2{
    width: 90%;
    height: 25px;
    border: none;
    outline: none;
    font-size: 15px;
}
.img-icon{
        width: 25px;
        height: 25px;
}
.note-para{
    width: 95%;
    position: relative;
    bottom: 20px;
    // border: 1px solid red;
}
.card-icons{
    width: 90%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
}